[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = git://github.com/nairobilug/pelican-alchemy.git
